/* Text */

.text-center {
  text-align: center;
}

@font-face {
  /* Cocogoose Bold */
  font-family: "cocogoose";
  src: url("../utils/fonts/cocogoose/Cocogoose.ttf");
}

@font-face {
  /* Cocogoose Light */
  font-family: "cocogoose-light";
  src: url("../utils/fonts/cocogoose/Cocogoose-light.ttf");
}

.heading-small {
  font-size: 1.25rem;
  font-weight: 600;
}

.heading-medium {
  font-size: 1.5rem;
  font-weight: 700;
}

.heading-big {
  font-size: 1.75rem;
  font-weight: 900;
}

/* Text Colors */

.light-black {
  color: #272a31;
}

.dark-orange {
  color: #ec5242;
}

.light-grey {
  color: #d3d3d3;
}

/* Background Colors */

.bg-light-black {
  background: #272a31;
}

.bg-dark-orange {
  background: #ec5242;
}

.bg-light-grey {
  background: rgba(250, 247, 247, 0.829);
}

/* Container */
.container {
  width: 100%;
  padding: 5%;
}

/* Layouts */

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.btn {
  width: 300px;
  height: 60px;
  background-color: #ec5242;
  color: #d3d3d3;
  font-size: 1.25rem;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.7;
}
